{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>List</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
<!--   phone -->
	<div class="container" align = "center" id = "phone">
	<img src = "{%static 'resource/iphone.png'%}" style="height: 600px;">
	</div>
  
  
<!--   background -->
  <div class="container" align = "center" id = "screen"  >
    <img src = "{%static 'resource/background.gif'%}" style="height: 550px; width: 255px">
  </div>
  
    <div class="container" align = "center" id = "screen"  >
    <a href = "../" style = "width: 100px; overflow: hidden ">
    <img src = "{%static 'resource/search_bar.png'%}" style="position:absolute; height:150px; width: 100px; left:370px; top:20px">
          <h6 style="position:absolute; height:150px; width: 100px; left:370px; top:30px; color:white">
        London
      </h6>
      <img src = "{%static 'resource/tornado.png'%}" style="position:absolute; height:40px; left:398px; top:70px">
      <h6 style="position:absolute; height:150px; width: 100px; left:370px; top:130px; color:white">
        30°C
      </h6>
    </a>
      
      
      
    <img src = "{%static 'resource/search_bar.png'%}" style="position:absolute; height:150px; width: 100px; left:488px; top:20px">
     <h6 style="position:absolute; height:150px; width: 100px; left:488px; top:30px; color:white">
        Berkeley
      </h6>
      <img src = "{%static 'resource/tornado.png'%}" style="position:absolute; height:40px; left:516px; top:70px">
      <h6 style="position:absolute; height:150px; width: 100px; left:488px; top:130px; color:white">
        28°C
      </h6>
      
      
      
    <img src = "{%static 'resource/search_bar.png'%}" style="position:absolute; height:150px; width: 100px; left:370px; top:190px">
    <h6 style="position:absolute; height:150px; width: 100px; left:370px; top:210px; color:white">
        Washington
      </h6>
      <img src = "{%static 'resource/tornado.png'%}" style="position:absolute; height:40px; left:398px; top:240px">
      <h6 style="position:absolute; height:150px; width: 100px; left:370px; top:300px; color:white">
        18°C
      </h6>
      
      
      
    <img src = "{%static 'resource/search_bar.png'%}" style="position:absolute; height:150px; width: 100px; left:488px; top:190px">
      <h6 style="position:absolute; height:150px; width: 100px; left:488px; top:210px; color:white">
        Beijing
      </h6>
      <img src = "{%static 'resource/tornado.png'%}" style="position:absolute; height:40px; left:516px; top:240px">
      <h6 style="position:absolute; height:150px; width: 100px; left:488px; top:300px; color:white">
        27°C
      </h6>
      
      
      
    <img src = "{%static 'resource/search_bar.png'%}" style="position:absolute; height:150px; width: 100px; left:370px; top:360px">
    <h6 style="position:absolute; height:150px; width: 100px; left:370px; top:380px; color:white">
        Tokyo
      </h6>
      <img src = "{%static 'resource/tornado.png'%}" style="position:absolute; height:40px; left:398px; top:410px">
      
      
    <img src = "{%static 'resource/search_bar.png'%}" style="position:absolute; height:150px; width: 100px; left:488px; top:360px">
    <h6 style="position:absolute; height:150px; width: 100px; left:488px; top:380px; color:white">
        Okla
      </h6>
      <img src = "{%static 'resource/tornado.png'%}" style="position:absolute; height:40px; left:516px; top:410px">
      
      
<!--   add -->
    <a href = "../" style = "width: 100px; overflow: hidden ">
    <img src = "{%static 'resource/back.png'%} " style = "transform: rotate(180deg);position:absolute;
  overflow:hidden; 
  height: 20px; 
  top: 17px;
  left: 365px" >
    </a>
      <a href = "../search/" style = "width: 50px; overflow: hidden ">
       <img src = "{%static 'resource/add.png'%}" style="position:absolute; height:40px; left:550px; top:390px">
        <img src = "{%static 'resource/add.png'%}" style="position:absolute; height:40px; left:550px; top:390px">
        <img src = "{%static 'resource/add.png'%}" style="position:absolute; height:40px; left:550px; top:390px">
        <img src = "{%static 'resource/add.png'%}" style="position:absolute; height:40px; left:550px; top:390px">
        <img src = "{%static 'resource/add.png'%}" style="position:absolute; height:40px; left:550px; top:390px">
      </a>
      

  </div>
  
  
  
</body>
</html>





